@import "../layout/common";

$mapHeight: 400px;
.map-container {
    width: 100%;
    height: $mapHeight;
    position: relative;

    .business-information-container {
        div {
            float: left;
        }
        position: absolute;
        left: 10%;
        top: 80px;
        width: 350px;
        background: #FFF;
        opacity: 0.95;
        padding: 30px;
        @include border-radius(5px);
    }
    .business-information {
        color: $darkGrayColor;
        .left {
            width: 30px;
        }

        .business-name {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .business-rating {
            margin-bottom: 10px;
            font-size: 12px;
            color: #859baa;
        }
        .business-address {
            margin-top: 5px;
            margin-bottom: 10px;
            color: #666;
            line-height: 20px;
        }
        .business-phone {
            color: #666;
        }
    }

    #map {
        width: 100%;
        height: $mapHeight;
    }
}

.filter-container {
    background: #EEE;
    width: 100%;

    .filters {
        margin: 0 auto;
        width: $pageWidth;
        padding: 20px 0;
        overflow: hidden;
        color: #666;

        div {
            float: left;
        }

        .filter {
            margin-left: 30px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

#page-home {
    width: 100%;
    div {
        float: left;
    }

    .reviews-container {
        padding: 20px 0 50px 0;
        div {
            float: left;
        }

        .title {
            font-size: 30px;
            font-weight: bold;
            color: $darkGrayColor;
        }
        .paginations {
            text-align: center;
            .row {
                margin-bottom: 5px;
            }
            a {
                margin: 15px;
                &.disabled {
                    color: #CCC;
                    cursor: default;
                }
            }
        }
        .review {
            margin-top: 40px;
            .date {
                margin-left: 10px;
                font-size: 13px;
                line-height: 22px;
                color: #666;
                float: right;
            }
            .user {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
                color: $darkGrayColor;
                line-height: 22px;
            }
            .source {
                line-height: 22px;
                font-size: 13px;
                color: #859baa;
                margin-left: 5px;
                i {
                    font-size: 14px;
                }
            }
            .rating {
                margin-bottom: 10px;
                font-size: 12px;
                color: #859baa;
            }
            .description {
                font-size: 14px;
                line-height: 23px;
                color: #555;
            }
        }
    }
}
