<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@ReputationLoopCoreBundle/Resources/public/css/layout/normalize.css' 
                '@ReputationLoopCoreBundle/Resources/public/css/layout/base.scss' 
                'vendor/fontello/css/fontello.css' 
                filter='cssrewrite, ?yui_css' 
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600' rel='stylesheet' type='text/css'>

    </head>

    <body>
        <div id="header">
            {% block header %}{% endblock %}
        </div>

        <div id="main">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {% javascripts 
                'vendor/jquery/jquery-2.1.4.min.js'
                filter='?yui_js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
