{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ReputationLoopCoreBundle/Resources/public/css/page/home.scss' 
        filter='cssrewrite, ?yui_css' 
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% stylesheets
        '@ReputationLoopCoreBundle/Resources/public/js/home/homeController.js' 
        '@ReputationLoopCoreBundle/Resources/public/js/google-maps/init.js' 
        filter='cssrewrite, ?yui_css' 
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endstylesheets %}

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7dRfMlYVSfffZkO8zL_SEoW-lxhYARAQ&callback=initMap">
    </script>
    <script>
        HomeController.init();
    </script>
{% endblock %}

{% block header %}
<div class="map-container">
    <div id="map"></div>
    <div class="business-information-container">
        <div class="business-information row">
            <div class="business-name row">
                {{ companyDetails.business_info.business_name }}
            </div>
            <div class="business-rating">
                {% autoescape false %}
                    {{ companyDetails.business_info.total_rating.total_avg_rating|ratingToStars }}
                {% endautoescape %}
                
                {{ companyDetails.business_info.total_rating.total_no_of_reviews }} reviews
            </div>

            <div class="business-address">
                <div class="left">
                    <i class="icon-location"></i>
                </div>
                <div class="right">
                    {% autoescape false %}
                        {{ companyDetails.business_info.business_address }}
                    {% endautoescape %}
                </div>
            </div>

            <div class="business-phone">
                <div class="left">
                    <i class="icon-phone"></i>
                </div>
                <div class="right">
                    {% autoescape false %}
                        {{ companyDetails.business_info.business_phone }}
                    {% endautoescape %}
                </div>
            </div>

            <input type="hidden" data-name="{{ companyDetails.business_info.business_name }}" data-lng="{{ coordinates.lng }}" data-lat="{{ coordinates.lat }}" id="business-details" />
        </div>
    </div>
</div>

<div class="filter-container">
    <div class="filters">
        <div class="title">
            Filters:
        </div>

        <div class="filter" data-checked="yes" data-source="yelp">
            <i class="icon-check filter-icon"></i> <i class="icon-yelp"></i>Yelp
        </div>

        <div class="filter" data-checked="yes" data-source="internal">
            <i class="icon-check filter-icon"></i> <i class="icon-location"></i>Internal
        </div>

        <div class="filter" data-checked="yes" data-source="google">
            <i class="icon-check filter-icon"></i> <i class="icon-gplus"></i>Google
        </div>
    </div>
</div>

{% endblock %}

{% block body %}
<div id="page-home" class="page">
    <div class="reviews-container row">
        <div class="title row">
            Reviews
        </div>

        {% block reviews %}
        <div class="reviews row">
            {% include 'ReputationLoopCoreBundle:Page:reviews.html.twig' %}
        </div>
        {% endblock %}

    </div>
</div>
{% endblock %}
