<div class="paginations row">
    <div class="row">
        Showing 
        {{ page * resultsPerPage + 1 }} 
        - 
        {% set maxRange = (page + 1) * resultsPerPage %}
        {% set totalReviews = companyDetails.business_info.total_rating.total_no_of_reviews %}
        {% set disableNext = false %}
        {% if maxRange > totalReviews %}
            {% set maxRange = totalReviews %}
            {% set disableNext = true %}
        {% endif %}
        {{ maxRange }}
        of {{ totalReviews }}

    </div>
    <div class="row">
        <a class="pagination prev {% if page == 0 %}disabled{% endif %}" data-page="{{ page - 1 }}" href="#">Prev</a>
        <input type="hidden" class="current-page" value="{{ page }}" />
        <input type="hidden" class="reviews-url" value="{{ path('reputation_loop_core_reviews') }}" />
        <a class="pagination next {% if disableNext %}disabled{% endif %}" data-page="{{ page + 1 }}" href="#">Next</a>
    </div>
</div>

{% for review in companyDetails.reviews %}
<div class="review row">
    <div class="row">
        <div class="user">
            {% if review.review_from == 0 %}
                {% set reviewUrl = review.customer_url %}
            {% else %}
                {% set reviewUrl = review.review_url %}
            {% endif %}
            <a target="_blank" href="{{ reviewUrl }}">
                {% if review.customer_name %}
                    {{ review.customer_name }}
                {% else %}
                    Unknown User
                {% endif %}
            </a>
        </div>
        <div class="source">
            {% autoescape false %}
                {{ review.review_from|sourceToIcon }}
            {% endautoescape %}
        </div>
        <div class="date">
            {{ review.date_of_submission|timePassed }}
        </div>
    </div>
    <div class="row rating">
        {% autoescape false %}
            {{ review.rating|ratingToStars }}
        {% endautoescape %}
    </div>
    <div class="row description">
        {% autoescape false %}
            {{ review.description }}
        {% endautoescape %}
    </div>
</div>
{% endfor %}
