@import "compass/css3";

// Path variables.
$corePath: '/bundles/meltweedcore/';
$imgPath: $corePath + 'img/';
$fontPath: $corePath + 'font/';

// Colors.
$greenColor: #30cc72;
$redColor: #990000;
$darkRedColor: #660000;
$grayColor: #CCC;
$darkBlueColor: #08304a;
$darkGrayColor: #333;

$headerHeight: 100px;
$pageWidth: 960px;
