@import "./common";

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

#main {
    width: $pageWidth;
    margin: 0 auto;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;

    a {
        color: #08304a;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: #30cc72;
        }
    }

}

.row {
    float: left;
    width: 100%;
}

